body {
	background: lavender;
}
header, main {
	width: 1180px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	margin-top: 50px;
	background-color: white;
}
header {
	display: flex;
}
main {
	background: white;
}
.play {
	padding: 30px;
    text-align: center;
}
.back {
	padding: 20px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
	padding: 10px 20px;
    border: 1px solid #2d2dff;
    border-radius: 20px;
    text-decoration: none;
    color: #2d2dff;
}

a:hover {
	background-color: lavender;
} 