.contener {
	padding: 0 20px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap; /* если не помещаются в один ряд*/
	-ms-flex-pack: distribute;
		justify-content: space-around;
}
.contener > div {
	width: 130px;
    height: 200px;
    margin: 20px 0 0;
    box-sizing: border-box;
}
.scene {
	border: 1px solid #2d2dff;
    -webkit-perspective: 700px;
            perspective: 700px;
}
.compare {
	border: 5px solid #2eec08;
}
.card {
	width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; /*3D*/
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: relative;
}
.scene div.move  {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card-face {
    position: absolute; 
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; /*поверхность скрыта, когда повернута от пользователя*/
    cursor: default;
}
.card-back {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-position: center;
    background-size: cover;
}
.card-front {
	background-image: url(../img/animal-32.png);
	background-position: center;
    background-size: cover;
}
img {
	width: 130px;
	height: 200px;
	background-size: cover;
}

.wrapScore {
	display: flex;
}

.wrapScore > p {
	margin: 0;
}

.scoreWrapper {
	display: flex;
	padding: 10px 20px;
	border: 1px solid #2d2dff;
	border-radius: 20px;
	color: #2d2dff;
	background-color: lavender;
}